@page
@model Products_Sales_Commission_Core_Web.Pages.SalesAgents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SalesAgent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesAgent.AgentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesAgent.AgentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesAgent.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SalesAgent.ContactNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SalesAgent.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
