@page
@model Products_Sales_Commission_Core_Web.Pages.SalesAgents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Sales Agents</h1>

<p>
    <a class="btn btn-outline-dark" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalesAgent[0].AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalesAgent[0].ContactNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SalesAgent) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-dark" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-dark" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
