@page
@model Products_Sales_Commission_Core_Web.Pages.Sales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Products Sales and Commission </h1>

<p>
    <a class="btn btn-outline-dark" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].SalesAgent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].Product)
            </th>

            <th>
                Product Price $
            </th>

            <th>
                Total Sales Commission $
            </th>

            <th>
                Quantity
            </th>

            <th>
                Commision % Per Product
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sale) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalesAgent.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TotalSalesCommision)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Product.SalesCommission)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-dark" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-dark" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
