@page
@model Products_Sales_Commission_Core_Web.Pages.Manufacturers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Manufacturers</h1>

<p>
    <a class="btn btn-outline-dark" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manufacturer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-outline-dark" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a  class="btn btn-outline-dark" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-dark" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
